# Ignorer les fichiers compilés Java
*.class
*.jar
*.war
*.ear

# Ignorer les répertoires de compilation
/bin/
/out/
/build/

# Ignorer les fichiers temporaires
*.log
*.tmp
*.bak
*.swp

# Ignorer les fichiers spécifiques aux IDE
# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# Autres fichiers système
.DS_Store
Thumbs.db

